Edeploy.CityScore/src/Presentation/Service References/CidadeServico/CidadeServico.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wsteste.devedp.com.br/Master/CidadeServico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WsTeste.Domain" />
  <xs:element name="BuscaTodasCidades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaTodasCidadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WsTeste.Domain" minOccurs="0" name="BuscaTodasCidadesResult" nillable="true" type="q1:ArrayOfCidade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaPontos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WsTeste.Domain" minOccurs="0" name="cidade" nillable="true" type="q2:Cidade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscaPontosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscaPontosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>