Edeploy.CityScore/src/Presentation/Service References/CidadeServico/CidadeServico1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WsTeste.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WsTeste.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCidade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cidade" nillable="true" type="tns:Cidade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCidade" nillable="true" type="tns:ArrayOfCidade" />
  <xs:complexType name="Cidade">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cidade" nillable="true" type="tns:Cidade" />
</xs:schema>